[submodule "tmux/tmux-config"]
	path = tmux/tmux-config
	url = https://github.com/magodo/tmux-config
[submodule "tmux/.tmux"]
	path = tmux/.tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "tmux/oh-my-tmux/.tmux"]
	path = tmux/oh-my-tmux/.tmux
	url = https://github.com/gpakosz/.tmux.git
