snippet azure_provider "azurerm provider block" b
provider "azurerm" {
  features {}
}
endsnippet

snippet var "local variables" b
variable "suffix" {
  default = "magodo"
}

variable "location" {
  default = "West Europe"
}
endsnippet
